[Unit]
Description=hi.academy CI script

[Service]
Type=simple
User=zompin
Group=zompin
ExecStart=/usr/bin/node /home/hi/sites/ci/index.js
WorkingDirectory=/home/hi/sites/ci

[Install]
WantedBy=multi-user.target
